.login-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  border-bottom: 1px solid #e5e7eb;
  border-radius: 16px 16px 0 0;
  /* background-color: #e8f5ff; */
  background-color: #eff8ff;
  position: relative;
}

.login-logo {
  height: 60px;
}

/* DESKTOP MENU */
.login-nav-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-link {
  text-decoration: none;
  color: #555;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.nav-link.active {
  color: #60a3d9;
  font-weight: 600;
}

.login-nav-btn {
  background-color: #60a3d9;
  color: white;
  padding: 8px 18px;
  border-radius: 8px;
  font-size: 14px;
  text-decoration: none;
}

/* HAMBURGER */
.menu-icon {
  display: none;
  font-size: 22px;
  cursor: pointer;
  color: #333;
}

/* MOBILE MENU */
.mobile-menu {
  position: absolute;
  top: 50px;
  right: 16px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-width: 160px;
  z-index: 999;
}

.mobile-link {
  text-decoration: none;
  color: #444;
  font-size: 15px;
}

.mobile-login-btn {
  background-color: #60a3d9;
  color: white;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
    .login-navbar {
        padding: 10px 20px;
    }
    .desktop-only {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .login-logo {
        height: 48px;
    }
}
